<a href="https://colab.research.google.com/github/Abhimokashe/Decision-Tree-classifier/blob/main/Decision_Tree_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/car_evaluation.csv')

In [ ]:
df1 = df.copy()

In [ ]:
df1.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [ ]:
df1.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [ ]:
df1.shape

(1727, 7)

In [ ]:
df1.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [ ]:
df1.isnull().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

There is no need to treat missing values.

In [ ]:
col_names = ['buying','maint','persons','doors','lug_boot','safety','class']

In [ ]:
for i in range(0,7):
  for j in range(0,7):
    x = df1.columns[i]
    print(x)
    y = col_names[j]
    print(y)
    df1=df1.rename(columns = {x : y})

class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class
class
buying
buying
maint
maint
persons
persons
doors
doors
lug_boot
lug_boot
safety
safety
class

In [ ]:
df1.columns

Index(['class', 'class', 'class', 'class', 'class', 'class', 'class'], dtype='object')